* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: aqua;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar{
    display: flex;
    list-style-type: none; 
    gap: 80px;  
}
a{
    text-decoration: none;
    padding: 10px;
}
a:hover {
    background-color: aquamarine;
    transition: .6s ease-in-out;
}
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    background-color: aquamarine;
    background-image: url(https://st.depositphotos.com/1062624/4071/i/600/depositphotos_40716309-stock-photo-best-internet-concept-of-global.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#banner img{
    width: 70%;
}
#boxes{
    display: flex;
    background-color: rgb(24, 136, 80);
    width: 100%;
}
.box {
    margin: 0 auto;
    text-align: center;
    width: 45%;
}


footer{
    height: 50px;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

@media( max-width:768px){
    .navbar{
 gap: 30px;
    }
    #boxes{
        flex-direction: column;
    }
    .box{
        width: 90%;
    }
}
